@media screen and (max-width:1025px) {
    .container{
        padding: 0rem 7rem;
    }
}

@media screen and (max-width:993px) {

}



@media screen and (max-width:769px) {
    .container{
        padding: 0rem 4rem;
    }

    header > div.d-f{
        flex-direction: column;
        gap: 1rem;
    }
}



@media screen and (max-width:577px) {
    .container{
        padding: 0rem 2rem;
    } 
}

@media screen and (max-width:426px) {
    nav ul.menu{
        flex-direction: column;
    }

    header{
        box-shadow: none;
    }
}

@media screen and (max-width:321px) {
    .logo-text{
        font-size: 1.8rem;
    }
}